
body.login-action-lostpassword.login h1 a{
    background-image: url(../Img/Frame-966.svg);
        width: 100%;
        height: 60px;
        background-size: contain;
    
    }
    
    .login h1 a{
        background-image: url(../Img/Frame-966.svg);
        width: 100%;
        height: 60px;
        background-size: contain;
    
    }
    body.login-action-lostpassword.login .message, body.login-action-lostpassword.login #nav, body.login-action-lostpassword.login #backtoblog, .privacy-policy-page-link, .language-switcher{
        display: none;
    }
    
    body.login-action-lostpassword.login #login{
    width: auto;
        max-width: 500px;
    }
    body.login-action-lostpassword.login #login  #lostpasswordform{
    border: 0px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
        padding: 50px;
        text-align: center;
    }
    
    body.login-action-lostpassword.login #login #lostpasswordform h2{
        font-size: 25px;
        color: #000;
    }
    body.login-action-lostpassword.login #login #lostpasswordform p{
    font-size: 17px;
        font-weight: 600;
        color: #CCC;
        margin: 5px 0px;
        margin-bottom: 30px;
    }
    
    body.login-action-lostpassword.login #login #lostpasswordform label{
        display: block;
        text-align: left;
        font-weight: bold;
        color: #000;
    }
    
    body.login-action-lostpassword.login #login #lostpasswordform .input{
    background-color: #F5F8FA;
        padding: 10px 12px;
        line-height: 1;
        height: auto;
        border-radius: 10px;
        color: #888888;
        font-weight: 600;
        border: 1px solid transparent;
        margin: 0px;
        outline: none;
        box-shadow: none;
        font-size: 18px;
    }
    
    body.login-action-lostpassword.login #login #lostpasswordform .button-primary{
        float: none;
        margin: auto;
        display: block;
        background: #008474;
        border-radius: 7px;
        font-weight: 600;
        font-size: 15px;
        padding: 5px 20px;
    }
    body.login-action-lostpassword.login #login #lostpasswordform p.submit{
        margin-bottom: 0;
    }
    #lostpasswordform::before{
        display: none;
    }